<div id = "profile-header">
  <p> Username:<%= @user.username %><p>
  <p> Email:<%= @user.email %></p>
</div>

<% if current_user.id == @user.id %>
  <%= erb :'/user/update', locals: {user: @user} %>
  <% else %>
  <%= erb :'/question/new', locals: {user: @user} %>
<% end %>

<div class='user-asked'>
<h3>Questions you asked</h3>
  <ul class = "question-list">
    <% @user.asked_questions.each do |question| %>
    <li> <%= erb :'question/single', locals: {question: question} %>
      <% if current_user.id == question.asker_id %>
        <%= erb :'question/update', locals: {question: question}%>
      <% end %>
     </li>
    <% end %>
  </ul>
</div>
<div class='user-replied'>
  <h3>Questions asked to you</h3>
  <ul class = "question-list">
  <% @user.replied_questions.each do |question| %>
    <li> <%= erb :'question/single', locals: {question: question}  %> </li>
  <% end %>
  </ul>
</div>
